<main class="w-full h-screen bg-project overflow-auto">
    <nav class="flex justify-between p-5">
        <div>
            <h1 class="text-white text-4xl">{{project.title}}</h1>
            <p class="text-white">{{project.description}}</p>
        </div>
        <div>
            <ul class="flex gap-5">
                <a class="text-white" href="/docs">Docs</a>
                <a class="text-white" href="">Edit</a>
                <button class="text-white">Delete</button>
                
            </ul>
        </div>
    </nav>

    <section [ngClass]="{'h-24':!chartCard,'h-auto':chartCard}" class="bg-endpoint m-10 rounded-md p-5">
        <div class="flex gap-2">
            @if (chartCard) {<i (click)="handleChartCard()" class="fa-solid fa-chevron-up text-xl text-white"></i>}@else {<i (click)="handleChartCard()" class="fa-solid fa-chevron-down text-xl text-white"></i>}
            <h2 class="text-white text-2xl" >Logs & Data</h2>
        </div>
        <div *ngIf="chartCard">
            <div class="flex items-center justify-evenly">
                <app-bar-chart class="w-5/12" chartTitle="Request with this method" [chartType]="'bar'" [chartlabels]="httpMethodChart.labels" [chartdata]="httpMethodChart.data"></app-bar-chart>
                <app-bar-chart class="w-3/12" [chartType]="'doughnut'" [chartlabels]="statusChart.labels" [chartdata]="statusChart.data"></app-bar-chart>
            </div>
        </div>
    </section>

    <section [ngClass]="{'h-24':!endpointsCard,'h-auto':endpointsCard}" class="bg-endpoint m-10 rounded-md p-5">
        <header class="flex justify-between items-center w-full">
            <div class="flex items-center gap-2">
                @if (endpointsCard) {<i (click)="handleEndpointCard()" class="fa-solid fa-chevron-up text-xl text-white"></i>}@else {<i (click)="handleEndpointCard()" class="fa-solid fa-chevron-down text-xl text-white"></i>}
                <h2 class="text-white text-2xl" >Endpoints</h2>
            </div>
            <button (click)="visible=true" class="text-white p-3 bg-succes rounded-md">Create Endpoint</button>
        </header>

        <div *ngIf="endpointsCard" >
            @for (item of project.endpoints; track $index) {
                <app-endpoint ($endpoint)="onEvent($event)" key="{project key}"  [database]="project.iddatabaseNavigation" [endpoint]="item"></app-endpoint>
                
            }
        </div>
    </section>

    <section [ngClass]="{'h-24':!dbCard,'h-auto':dbCard}"  class="bg-endpoint m-10 rounded-md p-5">
        <header class="flex gap-2 items-center w-full">
            @if (dbCard) {<i (click)="handleDBCard()" class="fa-solid fa-chevron-up text-xl text-white"></i>}@else {<i (click)="handleDBCard()" class="fa-solid fa-chevron-down text-xl text-white"></i>}
            <h2 class="text-white text-2xl">Database Configuration</h2>
        </header>
        <div *ngIf="dbCard">

            <div class="flex mt-10">
                <div class="w-3/12">
                    <label class="block text-white" for="">Host</label>
                    <input class="bg-discord text-white p-3 w-full" [value]="project.iddatabaseNavigation.host" type="text">
                </div>
                <div class="w-3/12 ml-3">
                    <label class="block text-white" for="">DB Engine</label>
                    <input class="bg-discord text-white p-3 w-full" [value]="project.iddatabaseNavigation.dbengine" type="text">
                </div>
                
                <div class="w-3/12 ml-3">
                    <label class="block text-white" for="">Port</label>
                    <input class="bg-discord text-white p-3 w-full" [value]="project.iddatabaseNavigation.port" type="text">
                </div>
            </div>
    
            <div class="flex">
                
                <div class="w-4/12">
                    <label class="block text-white" for="">User</label>
                    <input class="bg-discord text-white p-3 w-full" [value]="project.iddatabaseNavigation.user" type="text">
                </div>
    
                
                <div class="w-4/12 ml-3">
                    <label class="block text-white" for="">Password</label>
                    <input class="bg-discord text-white p-3 w-full" [value]="project.iddatabaseNavigation.password" type="password">
                </div>
            </div>
    
            <div>
                
                <div class="w-3/12">
                    <label class="block text-white" for="">Database</label>
                    <input class="bg-discord text-white p-3 w-full" [value]="project.iddatabaseNavigation.database1" type="text">
                </div>
    
            </div>
            <div class="w-6/12">
                <label class="block text-white" for="">Project key</label>
                <input class="bg-discord text-white p-3 w-full" [value]="project.key" type="text">
            </div>
        </div>

    </section>

    @if (visible) {
        <p-dialog
            header="Create endpoint"
            [(visible)]="visible" 
            [modal]="true" 
            [style]="{ width: '35%' }">

                <div class="bg-neutral-900">
                    <form (submit)="onSubmit($event)" class="flex flex-col align-middle bg-neutral-900">
                        <!-- <app-custom-input class="modal mx-5 my-1" [control]="endpointForm.controls.httpMethod" placeHolder="Http Method" icon="fa-solid fa-globe" type="text" ></app-custom-input> -->
                         <select [formControl]="endpointForm.controls.httpMethod"  class="bg-white p-3 rounded-md mx-5 my-3" name="httpMethod" id="">
                            <option selected value="GET">GET</option>
                            <option value="POST">POST</option>
                            <option value="PUT">PUT</option>
                            <option value="DELETE">DELETE</option>
                         </select>
                        <app-custom-input class="modal mx-5 my-1" [control]="endpointForm.controls.url" placeHolder="Endpoint name" icon="fa-solid fa-list-check" type="text" ></app-custom-input>
                        <app-custom-input class="modal mx-5 my-1" [control]="endpointForm.controls.query" placeHolder="SQL Query" icon="fa-solid fa-list-check" type="text" ></app-custom-input>
                        <app-custom-input class="modal mx-5 my-1" [control]="endpointForm.controls.params" placeHolder="Params example: id:int,title:string" icon="fa-solid fa-list-check" type="text" ></app-custom-input>
                        <div class="m-5 rounded-md shadow mt-5">
                            <button
                                class="w-full flex items-center justify-center text-lg p-3 border border-transparent font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 ">
                                Create endpoint
                            </button> 
                        </div>
                    </form>
                </div>
        </p-dialog>
    }
</main>