<div class="my-2 border mx-auto justify-center flex items-center rounded-md shadow-md">
    <div class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
        <i class="text-black" [class]="icon"></i> 
    </div>

    <div class="w-full">
        <input [formControl]="control" [type]="type" 
            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
            [placeholder]="placeHolder" >
    </div>
</div>
